APP_ENV=development
DEBUG=false
JWT_SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=1440
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
GOOGLE_CLIENT_ID=
GOOGLE_REDIRECT_URI=http://35.173.236.21:8000/auth/google/callback
KAKAO_REST_API_KEY=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=http://35.173.236.21:8000/auth/kakao/callback
KAKAO_FRONTEND_REDIRECT_URI=https://project-jras.vercel.app
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NAVER_REDIRECT_URI=http://35.173.236.21:8000/auth/naver/callback
NAVER_FRONTEND_REDIRECT_URI=https://project-jras.vercel.app
FRONTEND_URL=https://project-jras.vercel.app
CORS_ORIGINS=https://project-jras.vercel.app
